{{title}}

<div class="row">
    <div class="col-sm-8 col-md-offset-2">
      <div class="white-box">
  
        <div class="row">
          <div class="list-title">
            <h4>Form API List</h4>
          </div>
          <div class="scrollable">
            <div class="table-responsive">
              <table form_id="myTable"
                     class="table table-bordered table-hover toggle-circle contact-list"
                     data-page-size="10">
  
  
                <thead class="flip-content">
                <tr>
                  <th style="width: 8px"> Sr. No.</th>
                  <th>API Method</th>
                  <th>Form API URL</th>
                </tr>
                </thead>
                <tbody>
                  
                    <tr *ngFor="let i of formAPIList.FormData">
                        <td>{{i.form_api_id}}</td>
                        <td>{{i.form_api_method}}</td>
                        <td>{{i.form_api_name}}</td>

                        <!-- <td><button class="btn button-green" type="submit"><a [routerLink]="['/empUpdate',i.Emp_ID]">Edit</a> </button></td>
                        <td><button class="btn button-red" type="submit" (click)="DeleteEmployee(i.Emp_ID)" >Delete</button></td>
                        <td><button class="btn button-green" type="submit"><a [routerLink]="['/employeeAttendenceDisplay',i.Emp_ID]">Employee Attendence</a> </button></td> -->
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  