<!-- Container (Contact Section) -->
<div class="container">
    <h3 class="text-center"> FORM </h3>
    <p>&nbsp;</p>

    <div class="row">
        <form (ngSubmit)="onSubmit()" #f="ngForm">


                <div class="col-md-offset-3 col-md-6">
                        <p class="alert alert-danger" *ngIf="errorMsg">{{errorMsg}}</p>
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <input class="form-control" id="formname" name="formname" placeholder="Form Name" type="text" ngModel
                                       required  formname #formname="ngModel">
                                <div *ngIf="formname.invalid && (formname.dirty || formname.touched)"
                                     class="text-danger">
                                    <p *ngIf="formname.errors.required">
                                            Form Name is required
                                    </p>
                                </div>
                            </div>
                        </div>

                <div class="row">
                    <div class="col-sm-12 form-group">
                        <input class="form-control" id="formjsonstring" name="formjsonstring" placeholder="Form JSON String" type="text" ngModel
                               required formjsonstring #formjsonstring="ngModel">
                        <div *ngIf="formjsonstring.invalid && (formjsonstring.dirty || formjsonstring.touched)"
                             class="text-danger">
                            <p *ngIf="formjsonstring.errors.required">
                                JSON is required
                            </p>
                            <p *ngIf="!formjsonstring.errors.required && formjsonstring.errors.formjsonstring">
                                Please enter valid JSON
                            </p>
                        </div>
                    </div>
                </div>

                
                <br>
                <div class="row">
                    <div class="col-md-12 form-group text-center">
                        <button class="btn" type="submit" [disabled]="!f.valid">submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>